- include_css('/css/wysihtml5-bootstrap.css')
- include_js('/js/wysihtml5.min.js', '/js/wysihtml5-bootstrap.min.js')

%fieldset.fieldset
  %legend= @model_name.capitalize + " Form"
  %hr

  %form.form-horizontal{ :method => 'POST', :action => @path }
    - @form_inputs.each do |name, type|
      - name_sym = name.to_sym
      .control-group
        %label.control-label{ :for => "input_#{name}" }= name.capitalize
        .controls
          - if type == 'string'
            %input{ :id => "input_#{name}", :type => 'text', :value => @defaults[name_sym],
                    :name => "#{@model_name}[#{name}]", :placeholder => name.capitalize }
          - else
            %textarea{ :id => "input_#{name}", :name => "post[#{name}]", 
                       :placeholder => 'Body', :rows => 15 }
              = @defaults[name_sym]
    .control-group
      .controls
        %button.btn{ :type => 'submit' } Submit

:javascript
  $('textarea').wysihtml5();
