!!! 5

%html
  %head
    %title Freeclimb
    / And I once thought I didn't give a shit about fonts...
    /   Thanks to google fonts http://www.google.com/webfonts/specimen/Quattrocento
    /   and Pablo Impallari (the designer of Quattrocento)
    - include_css('/css/fonts.css', '/css/font-awesome.css')
    - include_css('/css/bootstrap.min.css', '/css/custom.css', '/css/pagination.css')
    - include_js('/js/jquery-1.8.3.min.js', '/js/bootstrap.min.js')

  %body
    .container
      .navbar
        %ul.nav
          - nav_link('Home', '/', @request.path, 'icon-home')
          - nav_link('Photos', '/photos', @request.path, 'icon-picture')
          - nav_link('Projects', '/projects', @request.path, 'icon-road')
          - nav_link('Gear', '/gear', @request.path, 'icon-wrench')
          - nav_link('About', '/about', @request.path, 'icon-thumbs-up')

        %form.navbar-search.pull-right
          %img{ :width => '25', :src => 'img/rock_climbing.svg' }
          %input.search-query.span2{ :type => 'text', :placeholder => 'Search' }

        %img{ :src => '/img/header.jpg', 
              :title => 'AngMoKio (http://commons.wikimedia.org/wiki/File:YosemitePark2_amk.jpg)' }

        %h5
          - [[:notice, 'alert-info'], [:error, 'alert-error']].each do |arr|
            - type, style_class = arr
            - unless flash[type].nil?
              #div{:class => style_class}
                %b= flash[type] 

      .row
        .span12
          = yield
