body {
    background-color: #000000;
    font-family: 'Quattrocento', serif;
}

.container {
    background-color: #F5F1E4;
    padding: 10px;
}

hr {
    border-top: 1px solid #777;
}

a {
    color: #555;
}

input, textarea {
    width: 400px;
}

/* ------------------------ Bootstrap overrides ---------------------------------------- */
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
    background-color: #bbc6d3;
}

.nav-list > .active > a,       
.nav-list > .active > a:hover {
    color: #555;
    background-color: #bbc6d3;
}

.alert-info {
    border-color: #bbc6d3;
    background-color: #daefff;
}